<app-header></app-header>


    <div class="product">
        <div class="product-info">
        <img src="https://5.imimg.com/data5/IZ/IZ/WY/SELLER-85713121/white-girls-t-shirts.jpg" alt="girl's T white-girls-t-shirts">
            <h2>T-shirts</h2>
            <p>Description: H&M white women t-shirt.</p>
            <p class="price">Rs.799</p>
            <button>Add to Cart</button>
        </div>
    
        <div class="product-info">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyCmRbkUOidHwDlNzCwHpH4-vgGcuoo3Ofiw&usqp=CAU" alt="Men's Shirt">
                <h2>Shirts</h2>
                <p>Description: Vanhuesen Men's Shirt.</p>
                <p class="price">Rs.999</p>
                <button>Add to Cart</button>
            </div>
    
    </div>
    


<app-footer></app-footer>