<app-header></app-header>
<div class="product-container">
    <div class="product">
      <img src="https://media.istockphoto.com/id/485168691/photo/male-underwear.jpg?s=612x612&w=0&k=20&c=6UISWdvaRwbt4oVQR814D1VHmBz6TKkuJYxD89oKL6k=" alt="Product 1">
      <h3>Product 1</h3>
      <p class="price">$19.99</p>
      <button>Add to Cart</button>
    </div>
  
    <div class="product">
      <img src="product2.jpg" alt="Product 2">
      <h3>Product 2</h3>
      <p class="price">$24.99</p>
      <button>Add to Cart</button>
    </div>
  
    
  </div>
  
<app-footer></app-footer>
